# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Others
/web-engine/facebook/*
/web-engine/instagram/*
/web-engine/twitter/*
/web-engine/user-data/*
request.txt